nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}


nav h1 {
  color: #ffffff;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-links button {
  background: transparent;
  border: 1px solid #2a2a2a;
  color: #bbb;
  padding: 7px 14px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.25s;
}

.navbar-links button:hover {
  color: #fff;
  border-color: #fff;
}